<p id="notice"><%= notice %></p>
<br><br><br>
<%# @file_uploads.pluck(:upload_document).empty? %>
<% if @file_uploads.pluck(:upload_document).empty? %>
<% else %>
	<p><strong>Upload files:</strong><br>
	<table class="table table-default">
		<tr>
			<td>File</td>
			<td>File Type</td>
		</tr>
	<% @file_uploads.each do |file_upload| %>
		<% unless file_upload.id.nil? %>
			<tr>
				<td><%= link_to file_upload.upload_document_url, target: '_blank' do %>
				<%= fa_icon "file" %>
				<%end%>
				</td>
				<td><%= file_upload.upload_document.content_type%></td>
			</tr>

		<% end %>
	<%end%>
</table>
<% end %>
</p>

